/*ELEMENT COLORS*/

.primary {
    color: #FFFFFF;
}

.secondary {
    color: #262626;
}

.secondary-light {
    color: #A2DEAA;
}

.accent {
    color: #5FDE70;
}

/*BACKGROUND COLORS*/

.primary-bg {
    background-color: #FFFFFF;
}

.secondary-bg {
    background-color: #262626;
}

.secondary-light-bg {
    background-color: #A2DEAA;
}

.accent-bg {
    background-color: #5FDE70;
}

.content-bg {
    background-color: #A1ACB3;
}