/*Adjusts elements for small screens*/
@media screen and (max-width: 767px) {
    /*PORTFOLIO CARD ELEMENTS*/
    .row {
        display: grid;
    }

    .quarter {
        margin: 1vw auto;
        width: 85%;
    }

    /*PORTFOLIO ARTICLE ELEMENTS*/
    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .section-content {
        display: block;
    } 
}